html {
  font-family: 'Playfair Display', serif;
  font-family: 'Oswald', sans-serif;
  color: #020202;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

nav a {
  font-family: 'Oswald', sans-serif;
  color: #adadad;
}

nav a:hover {
  color: #000000;
}

p {
  font-family: 'Playfair Display', serif;
}

.bg-image {
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

/* Media queries for navigation */
@media only screen and (min-width: 20em) {

  .nav {
    text-align: center;
  }

}

@media only screen and (min-width: 36em) {

  .nav {
    text-align: right;
  }

}


.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5,
.gallery-6,
.gallery-7,
.gallery-8 {
  position: relative;
}


/* Image 1 */
.gallery-1 a .text-1 {
  display: none;
  top: 3em;
}

.gallery-1:hover img {
  opacity: .5;
}

.gallery-1:hover a .text-1 {
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 10em;
  text-align: center;
  color: #000;
}

/* Image 2 */
.gallery-2 a .text-2 {
  display: none;
  top: 3em;
}

.gallery-2:hover img {
  opacity: .5;
}

.gallery-2:hover a .text-2 {
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 10em;
  text-align: center;
  color: #000;
}

/* Image 3 */
.gallery-3 a .text-3 {
  display: none;
  top: 3em;
}

.gallery-3:hover img {
  opacity: .5;
}

.gallery-3:hover a .text-3 {
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 10em;
  text-align: center;
  color: #000;
}

/* Image 4 */
.gallery-4 a .text-4 {
  display: none;
  top: 3em;
}

.gallery-4:hover img {
  opacity: .5;
}

.gallery-4:hover a .text-4 {
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 10em;
  text-align: center;
  color: #000;
}

.grey {
  background-color: #ddd8d8;
}

.btn {
  font-family: 'Oswald', sans-serif;
  background-color: #ddd8d8;
  border: 0;
}

.btn a {
  color: #000;
  text-decoration: none;
}

.btn:hover {
  background-color: #ddd8d8;
  border: 0;
}

.btn:hover a {
  color: #fff;
  text-decoration: none;
}
