---
layout: default
---

  <main>
      <h1 class="text-center pad-top">Daily Dose Branding</h1>
      <p class="text-center max-length">This is a case study about the branding I completed for The Daily Dose Health Foods Cafe in Vankleek Hill, Ontario.</p>
    </div>
  </div>
  <section class="photos">
    <div class="grid">
      {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
      "embed-3by2" url="/images/box.png" %}
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
        <div class="grid">
          {% include subpage.html unitsizem="m-1" unitsizel="l-1" unitsizexl="xl-1" embedsize=
          "embed-3by1" url="/images/box.png" %}
          </div>
          {% include subpage.html unitsizem="m-1" unitsizel="l-1" unitsizexl="xl-1" embedsize=
          "embed-3by1" url="/images/box.png" %}
        </div>
      {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
      "embed-3by2" url="/images/box.png" %}

      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
        <div class="grid">
          {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
          "embed-3by2" url="/images/box.png" %}
          {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
          "embed-3by2" url="/images/box.png" %}
          {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
          "embed-3by2" url="/images/box.png" %}
          {% include subpage.html unitsizem="m-1-2" unitsizel="l-1-2" unitsizexl="xl-1-2" embedsize=
          "embed-3by2" url="/images/box.png" %}
        </div>
      </div>
    </div>
  </section>
</main>
