---
layout: default
title: Portfolio
meta: This is Olivia Barton's Portfolio Website
---

<body>
  <div class="gutter-1-2 pad-b-2">
    <div class="gutter-2 pad-t-2 pad-b-2 bg-image">
      <div class="pad-t-2">
        <div class="pad-t-2 pad-b-2">
          <h1 class="text-center pad-t-2 pad-b-2">A beautiful design without a great idea won’t be remembered, <br>and a great idea without a beautiful design won’t be noticed</h1>
        </div>
      </div>
    </div>
  </div>
  <section id="gallery" class="push">
    <div class="grid">
      {% for portfolio in site.data.homepage %}
      {% include grid.html data=portfolio %}
      {% endfor %}
    </div>
  </section>
  <section itemscope itemtype="http://schema.org/Person"id="about">
    <div class="grid push-1-2">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter-1-2">
        <div class="embed embed-1by1">
        <img itemprop="image" class="embed-item profile" src="images/profile.jpg" alt="profile">
      </div>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter-1-2">
        <h2 itemprop="headline" class="push-1-2">Hey, I'm Liv!</h2>
        <p itemprop="description" class="milli">I have always been a creative person and definitely found my happy place when I began studying graphic design. I love seeing how a beautiful design can really elevate a concept and bring it to the next level. I specialize in branding, photography, and content creation.
        </p>
        <p></p>
        <p> </p>
      <div class="btn">
        <a class="micro" href="mailto:olivialynnbarton@outlook.com">Let's get in touch</a>
      </div>
      </div>

    </div>
  </section>
</body>
</html>
