<div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-4 {{include.data.class}}">
  <a itemscope itemtype="http://schema.org/image" href="{{site.baseurl}}/{{include.data.pageUrl}}/">
    <div itemscope itemtype="http://schema.org/ImageObject" class="embed embed-1by1">
      <img itemprop="image" class="embed-item" src="{{include.data.image}}" alt="gallery">
    </div>
    <div class="{{include.data.textClass}}">
      <h3 itemprop="number" class="giga text-left push-1-4">{{include.data.number}}</h4>
      <h4 itemprop="heading" class="mega">{{include.data.heading}}</h4>
    </div>
  </a>
</div>
