<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Wireframe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<header>
  <div class="grid island">
    <div class="logo unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <img class="img-flex logo" src="{{site.baseurl}}/images/logo.png" alt="logo">
    </div>
    <nav class="nav unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <ul class="list-group-inline pad-top">
        <li class="list-group-item gutter">
          <a href="{{site.baseurl}}/index#about/">About</a>
        </li>
        <li class="list-group-item gutter">
          <a href="{{site.baseurl}}/index#gallery/">Work</a>
        </li>
      </ul>

    </nav>
  </div>
</header>

<main>
  {{content}}
</main>

<footer>
  <div class="footer-icons island-1-2">
    <ul class="list-group-inline">
        <li class="list-group-item">
          <i class="icon i-18">
          <a href="#">
            <img class="social" src="{{site.baseurl}}/images/mail.png" alt="socials">
          </a>
        </i>
        </li>
        <li class="list-group-item">
          <i class="icon i-18">
          <a href="#">
            <img class="social" src="{{site.baseurl}}/images/face.png" alt="socials">
          </a>
        </i>
        </li>
        <li class="list-group-item">
          <i class="icon i-18">
          <a href="#">
            <img class="social" src="{{site.baseurl}}/images/insta.png" alt="socials">
          </a>
        </i>
        </li>
        <li class="list-group-item">
          <i class="icon i-18">
          <a href="#">
            <img class="social" src="{{site.baseurl}}/images/twitter.png" alt="socials">
          </a>
        </i>
        </li>
  </ul>
  </div>
</footer>

</html>
