<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  <link href="/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Playfair+Display" rel="stylesheet">
</head>

<ul class="skip-links">
  <li><a href="#nav">Jump to navigation</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

<header itemscope itemtype="https://schema.org/WPHeader">
  <div class="grid island">
    <div class="logo unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <a itemscope itemtype="https://schema.org/Brand" href="/index">
        <img itemprop="logo" class="img-flex logo" src="/images/logo.png" alt="logo">
      </a>

    </div>
    <nav id="nav" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement" class="nav unit xs-1 s-1 m-1-2 l-1-2 xl-1-2" tabindex="0">
      <ul class="list-group-inline pad-top">
        <li class="list-group-item gutter">
          <a itemprop="url" href="/index#about">About</a>
        </li>
        <li class="list-group-item gutter">
          <a itemprop="url" href="/index#gallery">Work</a>
        </li>
      </ul>

    </nav>
  </div>
</header>

<main id="main" role="main" tabindex="0">
  {{content}}
</main>

<footer role="contentinfo" itemscope itemtype="https://schema.org/WPFooter" class="grey">
  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 gutter pad-t-1-2">
      <p itemprop="name" class="pico"><small>©OliviaLynnBarton</small></p>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 gutter pad-t-1-2">
      <div class="footer-icons right">
        <ul class="list-group-inline">
          <li class="list-group-item">
            <i class="icon i-18">
              <a rel="me" itemprop="url" href="mailto:olivialynnbarton@outlook.com">
                <img itemprop="image" class="social" src="/images/mail.png" alt="socials">
              </a>
            </i>
          </li>
          <li class="list-group-item">
            <i class="icon i-18">
              <a rel="me" itemprop="url" href="https://www.facebook.com/olivia.barton.779">
                <img itemprop="image" class="social" src="/images/face.png" alt="socials">
              </a>
            </i>
          </li>
          <li class="list-group-item">
            <i class="icon i-18">
              <a rel="me" itemprop="url" href="https://www.instagram.com/olivialynnbarton/">
                <img itemprop="image" class="social" src="/images/insta.png" alt="socials">
              </a>
            </i>
          </li>
          <li class="list-group-item">
            <i class="icon i-18">
              <a rel="me" itemprop="url" href="#">
                <img itemprop="image" class="social" src="/images/twitter.png" alt="socials">
              </a>
            </i>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>

</html>
